<!--USERS TOTAL-->
<div class="btn-toolbar mb-4 mt-4 d-flex col-8 mx-auto border-0 justify-content-between" role="toolbar"
  aria-label="Toolbar with button groups">
  <div><i class="fa fa-users"></i>({{ pagination.totalElement }}) Users</div>

  <!--BUTTONS ALL - ACTIVE - INACTIVE -->
  <div class="d-flex mb-4">
    <div class="btn-group me-2 ml-1 border-0" role="group" aria-label="First group">
      <button type="button" class="btn btn-outline-secondary bg-info text-white border-0" (click)="filterByStatus()"
        [ngClass]="{ 'btn-info': isActive == 'All' }">
        All
      </button>
      <button type="button" class="btn btn-outline-secondary bg-secondary text-white text-white border-0"
        (click)="filterByStatus(true)" [ngClass]="{ 'btn-info': isActive == 'true' }">
        Active
      </button>
      <button type="button" class="btn btn-outline-secondary bg-secondary text-white text-white border-0"
        (click)="filterByStatus(false)" [ngClass]="{ 'btn-info': query.status.indexOf('false') !== -1 }">
        Inactive
      </button>
    </div>
    <div class="input-group ml-5">
      <div class="input-group-text" id="btnGroupAddon">
        <i class="fa fa-search"></i>
      </div>
      <input type="text" class="form-control" (input)="search($event)" placeholder="Your research"
        aria-label="Input group example" aria-describedby="btnGroupAddon" />
    </div>
  </div>

  <!--ARRAY FIRST LINE # / NATID - NAME - EMAIL - COMPANY - ADDRESS - PHONE - BIRTHDATE - PICTURE - STATUS - ACTIONS -->
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nat. ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Company</th>
          <th scope="col">Address</th>
          <th scope="col">Phone</th>
          <th scope="col">Birth Date</th>
          <th scope="col">Picture</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{ user.id }}</th>
          <td></td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.company }}</td>
          <td>{{ user.address | slice: 0:10 }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.birthDate | date: "shortDate" }}</td>
          <td><img [src]="source" style="width: 110px; height: 80px" /></td>
          <td>
            <!--BUTTONS ACTIVE OR INACTIVE IN STATUS-->
            <span *ngIf="user.isActive; else elseBlock" class="badge bg-success text-white">Active</span>
            <ng-template #elseBlock><span class="badge bg-danger text-white">Inactive</span></ng-template>
          </td>

          <!--MODIFY BLUE BUTTON-->
          <td>
            <div class="btn-group" role="group">
              <a type="button" [routerLink]="['edit', user.id]" routerLinkActive="router-link-active"
                class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </a>

              <!--DELETE RED BUTTON-->
              <button type="button-link" (click)="deleteUser(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--NAVIGATION PAGINATION-->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{ active: pagination.currentPage === page }" (click)="paginate(page)"
        *ngFor="let page of pages">
        <a class="page-link">{{ page }}</a>
      </li>
    </ul>
  </nav>
</div>
